{% extends 'layout/base.html' %}
{% block title %} Trang chủ {% endblock %}

{% block content %}
<div id="search-class-id" style="display: none;">
    <form class="d-flex" action="/">
        <input class="form-control me-2" name="keyword" type="text" placeholder="Nhập từ khóa...">
        <button class="btn btn-secondary">Tìm</button>
    </form>
</div>
<hr>
<div class="tb-note" id="tb-id">
    <table class="tb-notification table-bordered table-hover">
        <tr>
            <th>Lớp</th>
            <th>Giảng viên phụ trách</th>
            <th>Ngày phụ trách</th>
        </tr>
        {% for i in rep %}
        <tr class="tb-notification-content">
            <td>{{ i[0] }}</td>
            <td>{{ i[1] }}</td>
            <td>{{ i[2] }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}

