{% extends 'layout/base.html' %}

{% block content %}
{% if user_role == 1 %}

<div class="container mt-1 tb-note">
    <h2>Thông tin chi tiết</h2>
    <div class="card" style="width:700px">
        <div class="card-body">
            <h4 class="card-title">{{ student.name }}</h4>
            <table class="table" id="tb-score-detail">
                <thead>
                <tr>
                    <th>Điểm</th>
                    <th>Loại điểm</th>
                    <th>Môn học</th>
                    <th>Học kỳ</th>
                    <th>Lựa chọn</th>
                </tr>
                </thead>
                <tbody id="tb-score-detail-body">
                </tbody>
            </table>
            <div style="display:flex;">
                <div class="mr-3">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
                        Thêm điểm
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Thêm điểm cho {{ student.name }}</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div id="add-score">
                    <form method="post" enctype="multipart/form-data">
                        <div class="form-floating mt-3 mb-3 input-score">
                            <h5>Nhập điểm</h5>
                            <input type="text" id="add-score-score">
                        </div>
                        <div class="form-floating mb-3 mt-3 select-score input-score">
                            <form>
                                <h5>Chọn loại điểm</h5>
                                <select name="cars" class="custom-select" id="add-score-type">
                                    <option selected>Điểm 15p</option>
                                    <option>Điểm 1 tiết</option>
                                    <option>Điểm thi</option>
                                </select>
                            </form>
                        </div>

                        <div class="form-floating mb-3 mt-3 select-score">
                            <form>
                                <h5>Chọn môn học</h5>
                                <select name="cars" class="custom-select" id="add-score-subject">
                                    {% for b in subject %}
                                    <option>{{b.name}}</option>
                                    {% endfor %}
                                </select>
                            </form>
                        </div>
                        <div class="form-floating mb-3 mt-3 select-score">
                            <form>
                                <h5>Chọn lớp:</h5>
                                <select name="cars" class="custom-select" id="add-score-class">
                                    {% for a in student.student_class %}
                                    <option>{{a.my_class.name}}</option>
                                    {% endfor %}
                                </select>
                            </form>
                        </div>
                        <div class="form-floating mb-3 mt-3 select-score">
                            <form>
                                <h5>Chọn học kỳ:</h5>
                                <select name="cars" class="custom-select" id="add-score-semester">
                                    <option>1</option>
                                    <option>2</option>
                                </select>
                            </form>
                        </div>
                        <div class="form-floating mb-3 mt-3 select-score">
                            <form>
                                <h5>Chọn năm học:</h5>
                                <select name="cars" class="custom-select" id="add-score-year">
                                    {% for i in student.student_semester %}
                                    <option>{{ i.semester.year }}</option>
                                    {% endfor %}
                                </select>
                            </form>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                <div class="form-floating mt-3 mb-3 full-width">
                    <input type="submit" value="Thêm" class="btn btn-danger" onclick="addScore({{ student.id }})"
                           id="btn-add-score"/>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal-update">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Sửa điểm</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="form-floating mb-2 mt-1 select-score input-score">
                    <form>
                        <h5>Nhập điểm</h5>
                        <input type="number" id="score-update" value="0">
                    </form>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                <div class="form-floating mt-3 mb-3 full-width">
                    <input type="submit" value="Sửa" class="btn btn-danger"
                        onclick="updateScore({{student.id}})"/>
                </div>

            </div>

        </div>
    </div>
</div>
<div class="spinner-grow text-primary my-spinner"></div>
<ul class="list-group mt-2" id="comments"></ul>
{% else %}
<h1 class="text-center text-success">BẠN KHÔNG ĐƯỢC CẤP QUYỀN</h1>
{% endif %}
{% endblock %}
{% block js %}
<script src="{{ url_for('static', filename='js/score.js') }}"></script>
<script>
    window.onload = function() {
        loadScoresDetail({{ student.id }})
    }
</script>
{% endblock %}
