{% extends 'layout/base.html'%}
{% block title %} Trang chủ {% endblock %}


{% block content %}

<h1 class="text-center text-success" style="padding-top: 0.5em;">Quản lý điểm</h1>
<div id="search-class-score">
    <form class="d-flex" action="/score">
        <input class="form-control me-2" name="keyword" type="text" placeholder="Nhập từ khóa...">
        <button class="btn btn-secondary">Tìm</button>
    </form>
</div>

<div class="sc-note">
    <table class="tb-notification table-bordered table-hover" id="tb-scores">
        <tr>
            <th>Tên học sinh</th>
            <th>Loại điểm</th>
            <th>Điểm thi</th>
            <th>Lớp</th>
            <th>Môn học</th>
            <th>Học kỳ</th>
            <th></th>
        </tr>
    </table>
</div>


<div class="modal fade" id="myModal-update">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Sửa điểm</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Modal body..
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

<div class="modal fade" id="myModal-delete">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Bạn có chắc chắn muốn xóa</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger">Có</button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Không</button>
      </div>

    </div>
  </div>
</div>

<div style="margin-left:5%; padding-top:1em;">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
        Thêm điểm
    </button>
</div>

<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Thêm điểm</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div id="add-score">
                    <form method="post" enctype="multipart/form-data">
                        <div class="form-floating mt-3 mb-3 input-score">
                            <h5>Nhập điểm</h5>
                            <input type="text" id="add-score-score">
                        </div>
                        <div class="form-floating mb-3 mt-3 select-score input-score">
                            <form>
                                <h5>Chọn loại điểm</h5>
                                <select name="cars" class="custom-select" id="add-score-type">
                                    <option selected>Điểm 15p</option>
                                    <option>Điểm 1 tiết</option>
                                    <option>Điểm thi</option>
                                </select>
                            </form>
                        </div>
                        <div class="form-floating mb-3 mt-3 select-score">
                            <form>
                                <h5>Chọn học sinh</h5>
                                <select name="cars" class="custom-select" id="add-score-student">
                                    {% for a in student %}
                                    <option>{{a.name}}</option>
                                    {% endfor %}
                                </select>
                            </form>
                        </div>
                        <div class="form-floating mb-3 mt-3 select-score">
                            <form>
                                <h5>Chọn môn học</h5>
                                <select name="cars" class="custom-select" id="add-score-subject">
                                    {% for a in subject %}
                                    <option>{{a.name}}</option>
                                    {% endfor %}
                                </select>
                            </form>
                        </div>
                        <div class="form-floating mb-3 mt-3 select-score">
                            <form>
                                <h5>Chọn lớp:</h5>
                                <select name="cars" class="custom-select" id="add-score-class">
                                    {% for a in my_class %}
                                    <option>{{a}}</option>
                                    {% endfor %}
                                </select>
                            </form>
                        </div>
                        <div class="form-floating mb-3 mt-3 select-score">
                            <form>
                                <h5>Chọn học kỳ:</h5>
                                <select name="cars" class="custom-select" id="add-score-semester">
                                    <option>1</option>
                                    <option>2</option>
                                </select>
                            </form>
                        </div>
                        <div class="form-floating mb-3 mt-3 select-score">
                            <form>
                                <h5>Chọn năm học:</h5>
                                <select name="cars" class="custom-select" id="add-score-year">
                                    {% for i in semester %}
                                    <option>{{ i.year }}</option>
                                    {% endfor %}
                                </select>
                            </form>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                <div class="form-floating mt-3 mb-3 full-width">
                    <input type="submit" value="Thêm" class="btn btn-danger" onclick="addScore()"
                           id="btn-add-score"/>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="spinner-grow text-primary my-spinner"></div>
<ul class="list-group mt-2" id="comments"></ul>
{% endblock %}
{% block js %}
<script src="{{ url_for('static', filename='js/score.js') }}"></script>
<script>
    window.onload = function() {
        loadScores()
    }
</script>
{% endblock %}